.spor{
 
    background-color: crimson;
    padding: 20px;
}

.spor a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: bisque;
    padding: 100px;
    text-align: center;
}

.spor a:hover{
    margin-top: 3px;
    color: blue;
}

h1{
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: initial;
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-weight: lighter;
    padding: 5px;
    color: bl;background-color: bisque;
}

label{
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bolder;
    font-style: unset;
}

.menu{
   text-align: center;
   padding: 20px;
}


body{
    background-color: cadetblue;
}